version: '3.8'

services:
  next-app-dev:
    build:
      context: .
      target: dependencies 
    container_name: nextjs_dev_container
    command: npm run dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    env_file:
      - .env.local
    environment:
      - NODE_ENV=development
    restart: unless-stopped
    # 'depends_on' e o serviço 'mongo' foram removidos

# O volume 'mongodb_data' também foi removido
