version: '3.8'

services:
  next-app-dev:
    build:
      context: .
      target: dependencies 
    container_name: nextjs_dev_container
    command: npm run dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
      #- MONGODB_URI=  configurar a URI do MongoDB aqui, assim como explicado no taiga->wiki
      #- MONGODB_DB=  nome do banco de dados
    restart: unless-stopped
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    container_name: mongodb_dev_server
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: unless-stopped

volumes:
  mongodb_data: